<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432488489292-88ma3d4doopir2rjs4jea3nlr211l8va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432488489292-88ma3d4doopir2rjs4jea3nlr211l8va</string>
	<key>API_KEY</key>
	<string>AIzaSyAtKN12FnFe0dPlY_lU3fGaTQ7SNMLDb1I</string>
	<key>GCM_SENDER_ID</key>
	<string>432488489292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coloredDiet</string>
	<key>PROJECT_ID</key>
	<string>colored-diet</string>
	<key>STORAGE_BUCKET</key>
	<string>colored-diet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432488489292:ios:c9edee3ec64edecfe2efe9</string>
</dict>
</plist>